
services:
  prod:
    platform: linux/amd64
    image: deadbacteria8/docker-prod:0.0.2
    restart: always
    environment:
      SECRET_KEY: {{ SECRET_KEY }}
      DATABASE_URL: {{ DATABASE_URL }}
    container_name: "microblog"
    ports:
      - "8000:5000"


