name: CD, dockerhub

on: [push, release]

jobs:
  call-workflow-ci:
    uses: ./.github/workflows/make_test_ci.yml
  deploy-to-dockerhub:
    needs: call-workflow-ci
    runs-on: ubuntu-latest
    steps:

      -
        name: Checkout code
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: deadbacteria8/docker-prod
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          context: .
          file: ./docker/Dockerfile_prod
      
      - 
        name: Setup SSH 
        shell: bash
        run: |
          eval `ssh-agent -s`
          mkdir -p /home/runner/.ssh/
          touch /home/runner/.ssh/id_rsa
          echo -e "${{secrets.SSH_PRIVATE_KEY}}" > /home/runner/.ssh/id_rsa
          chmod 700 /home/runner/.ssh/id_rsa

      - 
        name: Test SSH connection
        run: |
          ssh -i /home/runner/.ssh/id_rsa -o StrictHostKeyChecking=no deploy@appserver1.deadbacteria8.tech "echo SSH works"

      -
        name: Install Ansible
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y ansible
      -
        name: Run ansible cd_deploy
        run: |
          ansible-playbook -i ./ansible/hosts ./ansible/CD_playbook.yml --private-key=/home/runner/.ssh/id_rsa
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
